(authelia_handler) {
  @protected {
    path /*
    not path /authelia*
  }
  
  handle @protected {
    authenticate with auth-portal {
      backends {
        authelia {
          method http
          uri http://authelia:9091/api/verify
          headers {
            X-Original-URL {http.request.scheme}://{http.request.host}{http.request.uri}
          }
          status 401 403
          copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
        }
      }
    }
  }
}

portainer.docs.futuraaigroup.com {
  reverse_proxy /authelia/* authelia:9091
  import authelia_handler
  reverse_proxy portainer:9000
}

docs.futuraaigroup.com {
  reverse_proxy /authelia/* authelia:9091
  import authelia_handler
  reverse_proxy docmost:3000
}