(authelia_proxy) {
  reverse_proxy authelia:9091 {
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-Uri {uri}
    header_up Host {host}
  }
}

portainer.docs.futuraaigroup.com {
  reverse_proxy /authelia/* authelia:9091
  @authelia path /authelia*
  handle @authelia {
    import authelia_proxy
  }
  
  # Configurazione di autenticazione a livello di middleware
  forward_auth authelia:9091 {
    uri /api/verify
    copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
  }
  
  reverse_proxy portainer:9000
}

docs.futuraaigroup.com {
  reverse_proxy /authelia/* authelia:9091
  @authelia path /authelia*
  handle @authelia {
    import authelia_proxy
  }
  
  # Configurazione di autenticazione a livello di middleware
  forward_auth authelia:9091 {
    uri /api/verify
    copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
  }
  
  reverse_proxy docmost:3000
}